#calculator {
    height: 500px;
    width: 400px;
    margin: 0px;
    margin-left: 150px;
    margin-top: 150px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

#display {
    height: 100px;
    width: 300px;
    margin: 0px;
    border: solid;
    border-color: gray;
    background-color: azure;
    box-sizing: border-box;

}

.button {
    height: 100px;
    width: 100px;
    margin: 0px;
    /* padding: 50px; */
}

.number {}

.operator {}