#calculator {
    height: 600px;
    width: 400px;
    margin: 0px;
    margin-left: 150px;
    margin-top: 150px;
    background-color: black;
    font-family: 'Share Tech Mono', monospace;
}

#display {
    height: 100px;
    width: 400px;
    margin: 0px;
    border: solid;
    border-color: gray;
    background-color: rgb(47, 139, 139);
    box-sizing: border-box;
    font-size: 50pt;
    text-align: right;
    padding-top: 10px;
    padding-right: 15px;

}

#buttons {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
}

.button {
    height: 100px;
    width: 100px;
    margin: 0px;
    font-family: 'Share Tech Mono', monospace;
    font-size: 20pt;
}

#equals {
    height: 100px;
    width: 200px;
    margin: 0px;
}

.number {
    /* font-size: 20pt; */
}

.operator {
    /* font-size: 18pt; */
}