.calculator {
    height: 500px;
    width: 400px;
    margin: 0px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.button {
    height:100px;
    width: 100px;
    margin: 0px;
    /* padding: 50px; */
}

.display {
    height: 100px;
    width: 300px;
    margin: 0px;
    border: solid;
    border-color: gray;
    background-color: azure;
    box-sizing: border-box;

}

.number {

}

.operand {

}

.highlight {
    background-color: yellow;
}

.unhighlight {
    background-color: ;
}